name: Hello World

on:
  push:
    branches: [ main ]
    
  workflow_dispatch:
    inputs:
      reason:
        description: 'Reason for manual trigger'
        required: false

jobs:
  demo:
    runs-on: ubuntu-latest

    steps:
    - name: Greetings
      run: echo "Hello, world! Welcome"
